/* General Header Styles */
.site-header {
    height: auto;
    min-height: 90px;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: var(--bs-white);
    color: var(--bs-foreground);
    position: relative;
    z-index: 10;

    .main-navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0 0.5rem;
                list-style-type: none;

                .rounded-icon {
                    display: flex; /* Asegura que los elementos hijos se alineen correctamente */
                    justify-content: center; /* Centra horizontalmente */
                    align-items: center; /* Centra verticalmente */
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    transition:
                        background-color 0.3s ease,
                        transform 0.3s ease; /* Transiciones suaves */

                    &:hover {
                        background-color: var(--bs-selector);
                        transform: scale(1.1); /* Efecto de agrandamiento suave */
                    }
                }

                a {
                    text-decoration: none;
                    color: var(--bs-primary);
                    font-size: 1.1rem;
                    font-weight: 600;
                    padding: 0.5rem;
                    display: flex; /* Asegura que el contenido interno se ajuste */
                    align-items: center; /* Centra verticalmente el contenido interno */
                    justify-content: center; /* Centra horizontalmente el contenido interno */
                    transition:
                        background-color 0.3s ease,
                        color 0.3s ease;

                    &:hover {
                        color: var(--bs-white);
                        background-color: var(--bs-selector);
                    }
                }

                i {
                    display: block;
                    margin: 0; /* Evita cualquier margen residual */
                    font-size: 1.5rem; /* Ajusta el tamaño del ícono según sea necesario */
                    line-height: 1; /* Asegura que el ícono esté centrado */
                }
            }
        }
    }

    /* Botones en la Vista Móvil */
    .responsive-icons {
        display: flex;
        align-items: center;
        width: 100%;

        .menu-toggle,
        .sidebar-toggle, .user-icon  {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border: none;
            border-radius: 50%;
            background-color: var(--bs-white);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            color: var(--bs-primary);
            font-size: 1.5rem;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--bs-selector);
                color: white;
                transform: scale(1.1);
            }

            &.ms-auto {
                margin-left: auto; /* Empuja el botón de usuario al extremo derecho */
            }

            &.ms-5 {
                margin-left: 50px; /* Empuja el botón con un margen derecho */
            }
        }

    }
}

/* Barra de anuncios */
.announcement-bar {
    font-size: 0.85rem;
    background-color: var(--bs-primary);
    color: var(--bs-light);
    padding: 0.5rem 0;
    text-align: center;
    height: 80px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* Botón Sidebar en Desktop */
        .sidebar-toggle {
            background: none;
            border: none;
            color: var(--bs-light);
            font-size: 1.8rem;
            cursor: pointer;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s ease;

            &:hover {
                background-color: var(--bs-selector) !important;
                color: var(--bs-white);
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15) !important;
            }

            i {
                font-size: 1.5rem;
            }
        }
    }
}

/* Responsividad */
@media (max-width: 768px) {
    .site-header {
        .main-navigation {
            .nav {
                display: none;

                &.menu-open {
                    display: flex;
                    flex-direction: column;
                    background-color: var(--bs-primary);
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    padding: 1rem;
                }
            }
        }
    }

    .announcement-bar {
        display: none; /* Ocultar barra en móviles */
    }
}
