.side-navbar {
   width: 200px;
   height: 900px;
   float: left;
   position: absolute;
   background-color: #9608d3;
   transition: 0.5s;
   padding: 10px;
}
.non-style{
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover {
background-color: #ffffff26;
}
.my-container {
   transition: 0.4s;
}
.active-nav {
   margin-left: 0;
}

/* for main section */
.notShown {
   visibility: hidden !important;
}
.nav-margin{
   margin-left: 180px;
}
.navbar {
   height: 40px !important; /*i assume your navbar size 100px*/
}
.nav-home{
   margin-left: 20px;
}
.icon-container{
   width: 100%;
   margin-top: 30px;
}
.button-nav{
   background-color: #9608d3;
   color: white;
   border: none;
}
.sidebar-container{
   width: 180px;

}

@media screen and (min-width: 1024px) and ( max-width: 1280px) {
   .side-navbar {
      width: 100px;
      } 
   .sidebar-container{
      width: 80px;
   }
   
}

@media screen and (min-width: 1280px) and ( max-width: 1360px ) {
   .side-navbar {
      width: 140px;
   } 
   .sidebar-container{
      width: 100%;
   }
}
   
@media screen and (max-width: 1024px) {
   .side-navbar {
      visibility: hidden;
   } 
}